.iconContainer {
  height: 1.8rem;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  right: 20px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid grey;
}

.container {
  width: 210px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.container input {
  outline: antiquewhite;
  height: 1.5rem;
}

.container input::placeholder {
  padding-left: 5px ;
}

.container .box  {
  position: relative;
}

.container .box .boxIn {
  max-height: 300px;
  overflow: scroll;
  padding-top: 5px;
  position: absolute;
  top: 0px;
  left: 0;
  background:#f5f5f5;;
  z-index: 1;
  width: 100%;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 1px 1px 1px #f0f0f0;
}

.container .box .boxIn div {
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
}

.container .box .boxIn div:focus { 
  background: lightgray;
  outline: none;
}

.container .box .boxIn div:hover { 
  background: lightgray;
  outline: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container .box .boxIn::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.container .box .boxIn {
  -ms-overflow-style: none;
}